@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../../../styles.scss";

.menu {
    background-color: $blue-color;
}

.menu-btn {
    @extend .btn,.btn-primary;
    margin: 10px;
    background-color: $gray-color;
    color: $text-color;
    border-color: $text-color;
    border-width: 2px;
    &:hover {
        background-color: $text-color;
        color: $gray-color;
        border-color: $text-color;
    }
}

.logout-btn {
    @extend .menu-btn;
    background-color: #dd8a48;
}