@import "../../../styles.scss";

.menu {
    background-color: $blue-color;
    margin-bottom: 10px;
}

.menu-btn {
    @extend .my-btn;
    margin: 10px;
    background-color: $gray-color;
    color: $text-color;
    border-color: $text-color;
    &:hover {
        background-color: $text-color;
        color: $gray-color;
        border-color: $text-color;
    }
}

.logout-btn {
    @extend .menu-btn;
    background-color: #dd8a48;
}