<div class="container-fluid">
    <div *ngFor="let task of taskList" class="task-list-item list-group-item d-flex justify-content-between align-items-center">
        <span>{{task|task}}</span>
        <span *ngIf="!task.status; else disagree"><button class="agree-btn" (click)="setStatus(task.id,true)"><i class="bi bi-check-circle"></i> Kész</button></span>
        <ng-template #disagree><span><button class="disagree-btn" (click)="setStatus(task.id,false)"><i class="bi bi-person-workspace"></i> Folyamatban</button></span></ng-template>
    </div>
</div>
