@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

$gray-color: #504646;
$text-color: #fff;
$blue-color: #404e67;
$green-color: #01a9ac;
$orange-color: #fe9365;
$red-color: #fe5d70;

.my-btn {
    margin: 10px;
    padding: 5px 10px;
    background-color: $gray-color;
    color: $text-color;
    border-color: $text-color;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    &:hover {
        background-color: $text-color;
        color: $gray-color;
        border-color: $text-color;
    }
    transform: skew(-10deg);
}

/* test */
